@model PagedList.IPagedList<ModelEF.Model.Product>
@using PagedList.Mvc
@using PagedList
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="left-sidebar">
                <h2>Danh mục sản phẩm</h2>
                <div class="panel-group category-products" id="accordian">
                    <!--category-productsr-->
                   
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="#">TÚI DÂY RÚT</a></h4>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="#">BALO THỂ THAO</a></h4>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="#">TÚI SÁCH THỂ THAO</a></h4>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="#">TÚI ĐEO CHÉO</a></h4>
                        </div>
                    </div>
                    
                </div><!--/category-products-->

              

           

            </div>
        </div>

        <div class="col-sm-9 padding-right">
            <div class="features_items">
                <!--features_items-->
                <h2 class="title text-center">Tất cả sản phẩm</h2>
                @foreach (var item in Model)
                {
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">

                            <div class="single-products">
                                <div class="productinfo text-center">

                                    <img src="@item.Image" alt="" />
                                    <h2>@item.Unitcost VNĐ</h2>
                                    <p>@item.Name</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>

                                </div>


                            </div>


                        </div>

                    </div>
                }


            </div><!--features_items-->

            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))

        </div>
    </div>
</div>

